<div style="height:8%;background-color:#F8F8F8" class="row row1">

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
 <div id="app-logo-div">
       <img style="margin-top:7px; width:35%" class="incedologo" src="src/img/incedo-logo.png">

     </div>
</div>

<div style="padding-top:10px;text-align:center;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4  ">
  <a routerLink="/users" routerLinkActive="active">Users</a>
</div>

<div style="text-align: right; padding-top:10px;" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
  <i style="color:#FECC41; border-radius:100%; background-color:#E84F5F ; padding:2px;" aria-hidden="true" class="fa fa-bell "></i>
  <i><a style="color:#337ab7; text-decoration:none;  font-size:15px;text-transform: capitalize;" class="ng-binding">Welcome! admin</a></i>&nbsp;
  <a (click)="logout()" style="text-decoration:underline; margin-right:10px; cursor:pointer; font-weight: bold;">Logout</a>
</div>
</div>
