<div class="container-fluid" style="background-color:#ededed!important">
<div id="login-page">
  <div id="login-container" class="container" >
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4 text-center" id="app-logo-div">
        <img id="app-logo-login" src="src/img/incedo-logo.png" />
      </div>
    </div>

    <div id="login-form-div">
     <form (ngSubmit)="onSignup(f)" #f="ngForm">
        <h4 class="margin-top-0">Register</h4>
        <div class="form-group margin-top-20">
		     <div class="alert alert-danger" id="alertBoxlogin" style="display:none;">
  	      	<div class="alert-link" id="alertMsglogin"></div>
  	     </div>
         <label for="firstname">First Name</label>
          <div class="input-group">
            <input id="firstname" type="text" name="firstname" class="form-control no-border" autocomplete="off" ngModel required>
          </div>
        </div>
        <div class="form-group">
          <label for="Last Name">Last Name</label>
          <div class="input-group">
            <input id="lastname" type="text" name="lastname" class="form-control no-border" ngModel required>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <input id="email" type="text" name="email" class="form-control no-border" ngModel required>
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <div class="input-group">
            <input id="username" type="text" name="username" class="form-control no-border" ngModel required>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group">
            <input id="password" type="password" name="password" class="form-control no-border" ngModel  required>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <button id="btn-submit" type="submit" class="btn btn-default pull-right" [disabled]="!f.valid">Sign Up</button>
            <a routerLink="/login" routerLinkActive="active">Login</a>

          </div>
        </div>
      </form>
    </div>

  </div>
    <app-footer></app-footer>
</div>
</div>
